<body>
  <form action="/weather" method="POST">
    <label for="zipcode">Zip Code: </label>
    <input type="text" id="zipcode" name="zipCode" required>
    <button type="submit">Get Weather</button>
  </form>
</body>
