<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show your City</title>
<style>
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
  padding: 20px;
}

h1, h2 {
  color: #333;
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #007BFF;
  margin-top: 20px;
}

a:hover {
  text-decoration: underline;
}

</style>
</head>
<body>
  <h1>City Name: <%=weather.city%></h1>
  <h2>Temperature: <%= weather.temperature%></h2>
  <p>Discription: <%= weather.description%></p>
  <a href="/">Back to home!</a>
</body>
</html>
